@use "globals" as *;

/* 共通スタイル */
a {
    text-decoration: none;
    color: #484742;
}

ul {
    padding-left: 0;

    & li {
        list-style: none;
    }
}

/* レスポンシブ用 */
.sp_only {
    display: none;
}

.pc_only {
    display: block;
}

@include mq(md) {
    .sp_only {
        display: block;
    }

    .pc_only {
        display: none;
    }
}

body {
    font-family: "Aboreto", "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #484742;
}

.zenmaru {
    font-family: "Zen Maru Gothic", serif;
}

.section_title {
    font-size: 1.5rem;
    margin-bottom: 60px;

    & span {
        font-size: 0.75rem;
    }
}

.section_wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.nav_sp_only {
    position: relative;
}

.humbergur_box {
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 1000;

    span {
        position: absolute;
        height: 1.5px;
        width: 100%;
        background: #000;
        transition: all 0.4s ease;
    }

    span:first-child {
        top: 0;
    }

    span:nth-child(2) {
        top: 50%;
    }

    span:last-child {
        bottom: 0;
    }
}

.active.humbergur_box {
    span:first-child {
        transform: rotate(45deg);
        top: 16px;
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:last-child {
        transform: rotate(135deg);
        bottom: 13px;
    }
}

.sp_nav_list {
    position: absolute;
    right: -400px;
    top: -26px;
    width: 300px;
    height: 100vh;
    padding: 50px;
    background: #f4ecc8;
    text-align: center;
    transition: right 1s ease;

    li {
        border-bottom: #dcbc31 2px solid;
        padding: 15px 70px;

        &:first-child {
            margin-top: 50px;
            border-top: #dcbc31 2px solid;
        }

        a {
            font-weight: 700;
        }
    }

    &.active {
        right: -34px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 5px;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 10000;

    .logo_link {
        .title_name {
            font-size: 1.75rem;
        }

        .sub_title {
            font-size: 0.75rem;
        }

    }

    .nav_list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;

        .nav_item {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: #D0A900 3px solid;
            background-color: #fff;
            position: relative;

            .nav_link {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 0.65rem;
                font-weight: 600;
            }
        }
    }
}