#home {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  #home {
    overflow: hidden;
  }
}
#home .mv {
  position: relative;
  height: 90vh;
}
#home .mv.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.5s linear;
  z-index: 20000;
}
#home .mv.loading.loaded {
  opacity: 0;
  visibility: hidden;
}
#home .mv .mv_wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
#home .mv .mv_wrapper .mv_title {
  font-size: 1.75rem;
  letter-spacing: 7px;
}
#home .mv .mv_wrapper .mv_subtitle {
  letter-spacing: 4px;
  font-family: "Zen Maru Gothic", serif;
}
#home .sec01 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 100px;
}
#home .sec01 .sec01_title {
  margin-bottom: 30px;
  font-size: 1.25rem;
}
#home .sec01 .sec01_text {
  font-size: 1rem;
  font-family: "Zen Maru Gothic", serif;
  margin-bottom: 60px;
}
#home .sec02 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 50px;
}
#home .sec02 .works_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto 50px;
}
#home .sec02 .works_list .works_link_item {
  padding: 10px 15px;
  transition: border-bottom 0.3s ease;
}
#home .sec02 .works_list .works_link_item:hover {
  border-bottom: 2px solid rgba(195, 144, 0, 0.5);
}
#home .sec02 .works_list .works_link_item.active-category {
  border-bottom: 2px solid #D0A900;
}
#home .sec02 .works_list .works_link_item .works_link {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
}
#home .sec03 {
  width: 100%;
}
#home .sec03 .work_link_wrapper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 20px;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 768px) {
  #home .sec03 .work_link_wrapper {
    margin: 0 auto 60px;
  }
}
#home .sec03 .work_link_wrapper:hover {
  background: rgba(246, 205, 132, 0.1019607843);
  z-index: 500;
}
#home .sec03 .work_link_wrapper .link_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  #home .sec03 .work_link_wrapper .link_flex {
    flex-direction: column;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper {
    width: 100%;
    flex-direction: column;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
  width: 320px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 320/200;
  z-index: 10;
  border: #D0A900 solid 2px;
  border-radius: 10px;
}
@media screen and (max-width: 960px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 270px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 100%;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
  width: 45%;
}
@media screen and (max-width: 768px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
    margin-bottom: 20px;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
  font-size: 1.25rem;
  margin-bottom: 15px;
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box > div {
  padding: 5px 20px;
  border: 1px solid #E7D173;
  width: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Zen Maru Gothic", serif;
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box > ul {
  padding-left: 1.5em;
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box > ul > li {
  list-style-type: circle;
  margin-bottom: 5px;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper {
  width: 300px;
}
@media screen and (max-width: 960px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper {
    width: 220px;
  }
}
@media screen and (max-width: 768px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button {
  display: block;
  width: 100%;
  padding: 10px;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10%;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex:last-of-type {
  margin-bottom: 0;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex span {
  font-weight: 600;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex img {
  width: 25px;
  height: 25px;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .border {
  height: 1px;
  width: 80%;
  margin: 0 auto 10px;
  background-color: #484742;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .detail_button {
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  margin-bottom: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper .detail_button {
    margin-bottom: 0;
  }
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .site_button {
  border: #E7D173 solid 4px;
  border-radius: 10px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper .site_button {
    border: #E7D173 solid 1px;
  }
}
#home .sec03 .center_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  transition: all 1.5s ease;
}
#home .sec03 .center_wrapper > button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#home .sec03 .center_wrapper > button > span {
  font-size: 1.25rem;
  font-weight: 500;
}
#home .sec03 .center_wrapper > button > img {
  width: 25px;
  height: 25px;
}
#home .sec03 .center_wrapper.hidden {
  display: none;
}
#home .work_continuation {
  display: none;
}
#home .work_continuation.active {
  display: block;
}
#home .work_continuation.last_wrapper {
  margin-bottom: 50px;
}
#home .work_continuation .work_link_wrapper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 20px;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 768px) {
  #home .work_continuation .work_link_wrapper {
    margin: 0 auto 60px;
  }
}
#home .work_continuation .work_link_wrapper:hover {
  background: rgba(246, 175, 132, 0.2);
  z-index: 500;
}
#home .work_continuation .work_link_wrapper .link_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  #home .work_continuation .work_link_wrapper .link_flex {
    flex-direction: column;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper {
    width: 100%;
    flex-direction: column;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
  width: 320px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 320/200;
  z-index: 10;
  border: #D0A900 solid 2px;
  border-radius: 10px;
}
@media screen and (max-width: 960px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 270px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 80%;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box {
  width: 45%;
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
  font-size: 1.25rem;
  margin-bottom: 15px;
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box > div {
  padding: 5px 20px;
  border: 1px solid #E7D173;
  width: 150px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Zen Maru Gothic", serif;
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box > ul {
  padding-left: 1.5em;
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box > ul > li {
  list-style-type: circle;
  margin-bottom: 5px;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper {
  width: 30%;
}
@media screen and (max-width: 960px) {
  #home .work_continuation .work_link_wrapper .link_flex .button_wrapper {
    width: 220px;
  }
}
@media screen and (max-width: 768px) {
  #home .work_continuation .work_link_wrapper .link_flex .button_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button {
  display: block;
  width: 100%;
  padding: 10px;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10%;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex:last-of-type {
  margin-bottom: 0;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex span {
  font-weight: 600;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex img {
  width: 25px;
  height: 25px;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .border {
  height: 1px;
  width: 80%;
  margin: 0 auto 10px;
  background-color: #484742;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .detail_button {
  background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
  margin-bottom: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  #home .work_continuation .work_link_wrapper .link_flex .button_wrapper .detail_button {
    margin-bottom: 0;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .site_button {
  border: #E7D173 solid 4px;
  border-radius: 10px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  #home .work_continuation .work_link_wrapper .link_flex .button_wrapper .site_button {
    border: #E7D173 solid 1px;
  }
}
#home .work_continuation .center_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  transition: all 1.5s ease;
}
#home .work_continuation .center_wrapper > button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#home .work_continuation .center_wrapper > button > span {
  font-size: 1.25rem;
  font-weight: 500;
}
#home .work_continuation .center_wrapper > button > img {
  width: 25px;
  height: 25px;
}
#home .work_continuation .center_wrapper.hidden {
  display: none;
}
#home .about_me .section_title {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 30px;
  font-size: 1.5rem;
}
#home .about_me .section_title span {
  font-size: 0.75rem;
}
#home .about_me .about_image_box img {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}
#home .about_me .about_text_box {
  width: 90%;
  max-width: 800px;
  margin: 20px auto 40px;
  padding: 0 20px 0 20px;
}
#home .about_me .about_text_box .about_title {
  font-size: 1.25rem;
}
#home .about_me .about_text_box p {
  font-size: 1rem;
  font-family: "Zen Maru Gothic", serif;
}
#home .about_me .about_text_box .web_site_title {
  margin-top: 30px;
  font-size: 1rem;
}
#home .about_me .about_text_box .site_table {
  border-spacing: 25px 5px;
}
@media screen and (max-width: 768px) {
  #home .about_me .about_text_box .site_table {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  #home .about_me .about_text_box .site_table {
    border-spacing: 0;
  }
}
#home .about_me .about_text_box .site_table tr {
  text-align: left;
}
#home .about_me .about_text_box .site_table tr th {
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  #home .about_me .about_text_box .site_table tr th {
    display: block;
  }
}
#home .about_me .about_text_box .site_table tr td {
  font-family: "Zen Maru Gothic", serif;
}
@media screen and (max-width: 768px) {
  #home .about_me .about_text_box .site_table tr td {
    display: block;
  }
}
#home .about_me > a {
  width: 300px;
  margin: 40px auto 60px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
  font-weight: 600;
}
#home .about_me > a img {
  width: 20px;
}
#home .contact {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#home .contact .section_title {
  font-size: 1.5rem;
  margin-bottom: 60px;
  text-align: left;
}
#home .contact .section_title span {
  font-size: 0.75rem;
}
#home .contact form .contact_table {
  border-spacing: 2rem 1rem;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table {
    border-spacing: 1rem 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
#home .contact form .contact_table tr th {
  text-align: left;
  width: 180px;
  vertical-align: top;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table tr th {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 0;
  }
}
#home .contact form .contact_table tr td {
  text-align: left;
  width: calc(100% - 180px);
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table tr td {
    width: 100%;
  }
}
#home .contact form .contact_table tr td input,
#home .contact form .contact_table tr td textarea {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #333;
}
#home .contact form .contact_table tr td input {
  height: 55px;
}
#home .contact form .contact_table tr td textarea {
  height: 255px;
}
#home .contact form .box {
  width: 650px;
  height: 250px;
  border: 1px solid #aaaaaa;
  overflow-y: scroll;
  margin: 0 auto 30px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #home .contact form .box {
    width: 250px;
    height: 150px;
  }
}
#home .contact form .box p {
  margin-bottom: 24px;
}
#home .contact form .box ul {
  padding-left: 20px;
  list-style: circle;
  margin-bottom: 24px;
}
#home .contact form .agreement_flex {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#home .contact form .agreement_flex .check {
  margin-right: 10px;
}
#home .contact form button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 55px;
}
#home .contact > p {
  text-align: left;
  width: 800px;
  max-width: 85%;
  margin: 0 auto 50px;
}
#home .hidden {
  display: none;
}

#home .work_continuation .work_link_wrapper.hidden {
  display: none;
}

#detail .sec01 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 100px;
  text-align: center;
}
#detail .sec01 .section_title {
  text-align: left;
  margin-bottom: 30px;
  font-size: 1.25rem;
}
#detail .sec01 .detail_title {
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid #C39000;
  font-size: 1rem;
  font-family: "Zen Maru Gothic", serif;
  margin-bottom: 60px;
}
#detail .sec01 .images_wrapper {
  width: 400px;
  max-width: 90%;
  height: 300px;
  margin: 0 auto;
  border: #C39000 solid 1px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
#detail .sec01 .detail_subtitle {
  text-align: left;
  font-family: "Zen Maru Gothic", serif;
  font-size: 1.25rem;
  background: #C39000;
  display: inline-block;
  margin: 30px 70% 30px 0;
  padding: 10px 50px;
  border-radius: 20px;
  color: #fff;
}
#detail .sec01 .detal_text {
  width: 100%;
  text-align: left;
  border-spacing: 10px;
}
#detail .sec01 .detal_text tr th {
  width: 200px;
}
#detail .sec01 .detal_text tr td {
  font-family: "Zen Maru Gothic", serif;
}
#detail .sec01 .detail_main_title {
  text-align: left;
  font-size: 1rem;
}
#detail .sec01 .detail_main_text {
  text-align: left;
  margin-left: 200px;
}
#detail .sec01 .button_wrapper {
  width: 300px;
  margin: 40px auto 0;
}
#detail .sec01 .button_wrapper .work_button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
#detail .sec01 .button_wrapper .work_button .button_flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10%;
}
#detail .sec01 .button_wrapper .work_button .button_flex:last-of-type {
  margin-bottom: 0;
}
#detail .sec01 .button_wrapper .work_button .button_flex span {
  font-weight: 600;
}
#detail .sec01 .button_wrapper .work_button .button_flex img {
  width: 25px;
  height: 25px;
}
#detail .sec01 .button_wrapper .work_button .border {
  height: 1px;
  width: 80%;
  margin: 0 auto 10px;
  background-color: #484742;
}
#detail .sec01 .button_wrapper .go_to_works_button {
  background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
  margin-bottom: 20px;
  border-radius: 10px;
}
#detail .sec01 .button_wrapper .go_to_site_button {
  border: #E7D173 solid 4px;
  border-radius: 10px;
  background: #fff;
}/*# sourceMappingURL=style.css.map */