@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#home {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  #home {
    overflow: hidden;
  }
}
#home .mv {
  position: relative;
  height: 90vh;
  opacity: 1;
  transition: opacity 1s ease;
}
#home .mv.loading {
  width: 100vw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 20000;
}
#home .mv.loaded {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
#home .mv.loaded .mv_wrapper {
  opacity: 1;
}
#home .mv .mv_wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
#home .mv .mv_wrapper .mv_title {
  font-size: 1.75rem;
  letter-spacing: 7px;
  transition: visibility 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  visibility: visible;
}
#home .mv .mv_wrapper .mv_title.hidden {
  visibility: hidden;
}
#home .mv .mv_wrapper .mv_subtitle {
  letter-spacing: 4px;
  font-family: "Zen Maru Gothic", serif;
  transition: visibility 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  visibility: visible;
}
#home .mv .mv_wrapper .mv_subtitle.hidden {
  visibility: hidden;
}
#home .sec01 {
  width: 90%;
  max-width: 1200px;
  margin: 120px auto 100px;
}
@media screen and (max-width: 768px) {
  #home .sec01 {
    margin: 30px auto 40px;
  }
}
#home .sec01 .can {
  font-weight: normal;
}
#home .sec01 .can:last-of-type {
  margin-bottom: 60px;
}
#home .sec01 .sec01_title {
  margin-bottom: 30px;
  font-size: 1.25rem;
}
#home .sec01 .section_wrapper {
  width: 100%;
}
#home .sec01 .section_wrapper .sec01_text {
  font-size: 1rem;
  font-family: "Zen Maru Gothic", serif;
  margin-bottom: 60px;
}
#home .works {
  margin-bottom: 60px;
}
#home .works .works_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  gap: 30px;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  #home .works .works_wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
#home .works .works_wrapper .work_card {
  background-color: #FEF1B8;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}
#home .works .works_wrapper .work_card .thumnail {
  width: calc(100% - 4px);
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center top;
  margin: 2px auto 15px;
  display: block;
  border-width: 50px 0 0 50px;
}
@media screen and (max-width: 768px) {
  #home .works .works_wrapper .work_card .thumnail {
    aspect-ratio: 16/9;
  }
}
#home .works .works_wrapper .work_card .skill_wrapper {
  flex: 1;
  margin: 0 auto 25px;
  width: 90%;
}
#home .works .works_wrapper .work_card .skill_wrapper .category {
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 15px;
  font-family: "Zen Maru Gothic", serif;
}
#home .works .works_wrapper .work_card .skill_wrapper .website_name {
  font-family: "Zen Maru Gothic", serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
#home .works .works_wrapper .work_card .skill_wrapper .skills {
  font-family: "Zen Maru Gothic", serif;
}
#home .works .works_wrapper .work_card .botton_wrapper {
  width: 90%;
  margin: 0 auto;
}
#home .works .works_wrapper .work_card .botton_wrapper .word_border {
  background-color: #848080;
  border-radius: 9999px;
  width: 90%;
  margin: 0 auto;
}
#home .works .works_wrapper .work_card .botton_wrapper .go_to_site {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
#home .works .works_wrapper .work_card .botton_wrapper .go_to_site .botton_text {
  font-weight: 700;
  font-size: 18px;
}
#home .works .works_wrapper .work_card .botton_wrapper .go_to_site .arrow {
  width: 14px;
  height: 14px;
}
#home .works .works_wrapper .work_card .botton_wrapper .go_to_site .angle {
  transform: rotate(-45deg);
}
#home .about_me .image_flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #home .about_me .image_flex {
    flex-direction: column;
  }
}
#home .about_me .image_flex .about_image_box {
  width: 30%;
}
@media screen and (max-width: 768px) {
  #home .about_me .image_flex .about_image_box {
    width: 100%;
  }
}
#home .about_me .image_flex .about_image_box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#home .about_me .image_flex .about_text_box {
  width: 66%;
  max-width: 800px;
  margin: 0 auto 40px;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  #home .about_me .image_flex .about_text_box {
    width: 90%;
    margin: 30px auto 30px;
    padding: 0;
  }
}
#home .about_me .image_flex .about_text_box .about_title {
  font-size: 1.25rem;
}
#home .about_me .image_flex .about_text_box p {
  font-size: 1rem;
  font-family: "Zen Maru Gothic", serif;
}
#home .about_me .image_flex .about_text_box .web_site_title {
  margin-top: 30px;
  font-size: 1rem;
}
#home .about_me .image_flex .about_text_box .site_table {
  border-spacing: 25px 5px;
}
@media (width < 901px) {
  #home .about_me .image_flex .about_text_box .site_table {
    display: block;
    border-spacing: 0;
  }
}
#home .about_me .image_flex .about_text_box .site_table tr {
  text-align: left;
}
#home .about_me .image_flex .about_text_box .site_table tr th {
  font-weight: normal;
}
@media (width < 901px) {
  #home .about_me .image_flex .about_text_box .site_table tr th {
    display: block;
  }
}
#home .about_me .image_flex .about_text_box .site_table tr td {
  font-family: "Zen Maru Gothic", serif;
}
@media (width < 901px) {
  #home .about_me .image_flex .about_text_box .site_table tr td {
    display: block;
  }
}
#home .about_me .image_flex .about_text_box .go-to-about-me {
  width: 300px;
  margin: 40px 20% 60px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  font-weight: 600;
}
@media screen and (max-width: 796px) {
  #home .about_me .image_flex .about_text_box .go-to-about-me {
    margin: 0 auto;
  }
}
#home .about_me .image_flex .about_text_box .go-to-about-me img {
  width: 20px;
}
#home .contact {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto 30px;
  text-align: center;
}
#home .contact .to_contact_button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 55px;
}
#home .contact form .contact_table {
  border-spacing: 2rem 1rem;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table {
    border-spacing: 1rem 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
#home .contact form .contact_table tr th {
  text-align: left;
  width: 180px;
  vertical-align: top;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table tr th {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 0;
  }
}
#home .contact form .contact_table tr td {
  text-align: left;
  width: calc(100% - 180px);
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table tr td {
    width: 100%;
  }
}
#home .contact form .contact_table tr td input,
#home .contact form .contact_table tr td textarea {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #333;
  font-family: "Zen Maru Gothic", serif;
}
#home .contact form .contact_table tr td input {
  height: 55px;
}
#home .contact form .contact_table tr td textarea {
  height: 255px;
}
#home .contact form .box {
  width: 650px;
  height: 250px;
  border: 1px solid #aaaaaa;
  overflow-y: scroll;
  margin: 0 auto 30px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #home .contact form .box {
    width: 80%;
    height: 150px;
  }
}
#home .contact form .box p {
  margin-bottom: 24px;
}
#home .contact form .box ul {
  padding-left: 20px;
  list-style: circle;
  margin-bottom: 24px;
}
#home .contact form .agreement_flex {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#home .contact form .agreement_flex .check {
  margin-right: 10px;
}
#home .contact form button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 55px;
}
#home .contact .send_text {
  text-align: left;
  width: 73%;
  max-width: 730px;
  margin: 0 auto 50px;
}
#home .github_links_section {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto 30px;
  text-align: center;
}
#home .github_links_section .github_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px auto;
}
#home .github_links_section .github_links a {
  width: 150px;
  height: 50px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

#about-page {
  margin-top: 100px;
}
#about-page .sec01 {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto 50px;
}
#about-page .sec01 .title_wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 40px;
}
@media screen and (max-width: 796px) {
  #about-page .sec01 .title_wrapper {
    flex-direction: column-reverse;
    gap: 0;
  }
}
#about-page .sec01 .title_wrapper .image_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 796px) {
  #about-page .sec01 .title_wrapper .image_wrapper {
    margin: 0 auto;
  }
}
#about-page .sec01 .title_wrapper .image_wrapper {
  /* 回転するテキストのSVG */
}
#about-page .sec01 .title_wrapper .image_wrapper .rotating-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: spin-left 9s linear infinite;
}
#about-page .sec01 .title_wrapper .image_wrapper {
  /* 左回りのアニメーション */
}
@keyframes spin-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
#about-page .sec01 .title_wrapper .image_wrapper {
  /* 円形の写真 */
}
#about-page .sec01 .title_wrapper .image_wrapper .circle-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  overflow: hidden;
}
#about-page .sec01 .title_wrapper .image_wrapper .circle-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
#about-page .sec01 .title_wrapper .text_wrapper {
  margin-bottom: 20px;
}
#about-page .sec01 .title_wrapper .text_wrapper p {
  font-size: 20px;
}
@media screen and (max-width: 796px) {
  #about-page .sec01 .title_wrapper .text_wrapper p {
    font-size: 16px;
  }
}
#about-page .sec01 .title_wrapper .text_wrapper .roma_name {
  font-size: 32px;
}
@media screen and (max-width: 796px) {
  #about-page .sec01 .title_wrapper .text_wrapper .roma_name {
    font-size: 24px;
  }
}
#about-page .sec01 .title_wrapper .text_wrapper .kanji_name {
  font-size: 27px;
}
@media screen and (max-width: 796px) {
  #about-page .sec01 .title_wrapper .text_wrapper .kanji_name {
    font-size: 18px;
  }
}
#about-page .sec01 .title_wrapper .text_wrapper .skill {
  color: #C39000;
  font-size: 24px;
  font-family: "Zen Maru Gothic", serif;
}
@media screen and (max-width: 796px) {
  #about-page .sec01 .title_wrapper .text_wrapper .skill {
    font-size: 20px;
  }
}
#about-page .sec01 .about_sub_titile {
  width: 90%;
  max-width: 637px;
  margin: 20px auto 50px;
}
@media screen and (max-width: 796px) {
  #about-page .sec01 .about_sub_titile {
    margin-bottom: 40px;
  }
}
#about-page .sec01 .section_border {
  width: 168px;
  margin: 0 auto 50px;
  border: none;
  border-top: 3px solid #C39000;
  border-radius: 999px;
}
@media screen and (max-width: 796px) {
  #about-page .sec01 .section_border {
    margin-bottom: 40px;
    border-top: 2px solid #C39000;
  }
}
#about-page .sec01 .aim {
  margin: 0 auto 37px;
  width: 540px;
  max-width: 80%;
  text-align: center;
}
#about-page .sec01 .skill_flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 140px;
}
@media screen and (max-width: 796px) {
  #about-page .sec01 .skill_flex {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
  }
}
#about-page .sec01 .skill_flex .skill_title {
  text-align: center;
  padding: 8px 30px;
  background-color: #FFF1C9;
  border: 1px solid #FFC00D;
  border-radius: 20px;
  font-family: "Zen Maru Gothic", serif;
}
#about-page .sec02 {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto 75px;
}
#about-page .sec02 .section_title {
  color: #C39000;
}
@media screen and (max-width: 796px) {
  #about-page .sec02 .section_title {
    font-size: 20px;
  }
}
#about-page .sec02 .section_title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #C39000;
  border-radius: 999px;
  margin-top: 15px;
}
@media screen and (max-width: 796px) {
  #about-page .sec02 .section_title::after {
    margin-top: 10px;
  }
}
@media screen and (max-width: 796px) {
  #about-page .sec02 .section_title {
    margin-bottom: 40px;
  }
}
#about-page .sec02 .sec02_wrapper {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto 75px;
}
@media screen and (max-width: 796px) {
  #about-page .sec02 .sec02_wrapper {
    margin-bottom: 40px;
  }
}
#about-page .sec02 .sec02_wrapper > p {
  margin-bottom: 35px;
}
#about-page .sec02 .sec02_wrapper .point {
  position: relative;
  padding: 20px 35px 30px;
  background-color: #FFFBEE;
  margin-bottom: 35px;
}
#about-page .sec02 .sec02_wrapper .point::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #C39000;
  border-radius: 999px;
}
@media screen and (max-width: 796px) {
  #about-page .sec02 .sec02_wrapper .point::after {
    width: 5px;
  }
}
#about-page .sec02 .sec02_wrapper .goal {
  background-color: #FEF7E3;
  border: 1.5px solid #FFC00D;
  border-radius: 20px;
  padding: 40px 50px;
}
@media screen and (max-width: 796px) {
  #about-page .sec02 .sec02_wrapper .goal {
    padding: 20px 20px;
  }
}
#about-page .sec02 .sec02_wrapper .goal h3 {
  color: #C39000;
  margin-bottom: 18px;
}
@media screen and (max-width: 796px) {
  #about-page .sec02 .sec02_wrapper .goal h3 {
    margin-bottom: 10px;
  }
}
#about-page .sec02 .sec02_wrapper .goal > p {
  line-height: 32px;
}
@media screen and (max-width: 796px) {
  #about-page .sec02 .sec02_wrapper .goal > p {
    line-height: 30px;
  }
}
#about-page .sec03 {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto 75px;
}
#about-page .sec03 .section_title {
  color: #C39000;
}
@media screen and (max-width: 796px) {
  #about-page .sec03 .section_title {
    font-size: 20px;
  }
}
#about-page .sec03 .section_title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #C39000;
  border-radius: 999px;
  margin-top: 15px;
}
@media screen and (max-width: 796px) {
  #about-page .sec03 .section_title::after {
    margin-top: 10px;
  }
}
#about-page .sec03 .sec03_flex {
  width: 1000px;
  max-width: 90%;
  margin: 60px auto 35px;
  display: flex;
  justify-self: center;
  align-items: stretch;
  gap: 60px;
}
@media screen and (max-width: 796px) {
  #about-page .sec03 .sec03_flex {
    margin: 40px auto;
    flex-direction: column;
    gap: 25px;
  }
}
#about-page .sec03 .sec03_flex .card {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #C39000;
  padding: 40px;
  border-radius: 20px;
}
@media screen and (max-width: 796px) {
  #about-page .sec03 .sec03_flex .card {
    padding: 20px 15px;
  }
}
#about-page .sec03 .sec03_flex .card__number {
  font-family: "Zen Maru Gothic", serif;
  color: #C39000;
  margin-bottom: 16px;
}
@media screen and (max-width: 796px) {
  #about-page .sec03 .sec03_flex .card__number {
    margin-bottom: 10px;
  }
}
#about-page .sec03 .sec03_flex .card__title {
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 25px;
}
@media screen and (max-width: 796px) {
  #about-page .sec03 .sec03_flex .card__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
#about-page .sec03 .sec03_flex .card__text {
  line-height: 32px;
}
@media screen and (max-width: 796px) {
  #about-page .sec03 .sec03_flex .card__text {
    line-height: 24px;
  }
}
#about-page .sec03 .skill-section {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto 35px;
  border: 1px solid #C39000;
  border-radius: 20px;
  padding: 24px 32px;
}
#about-page .sec03 .skill-section .slill-section__title {
  margin-bottom: 20px;
  font-weight: bold;
}
#about-page .sec03 .skill-section .skill-item {
  margin-bottom: 24px;
}
#about-page .sec03 .skill-section .skill-item__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
#about-page .sec03 .skill-section .skill-item__header .skill-item__name {
  font-size: 16px;
}
#about-page .sec03 .skill-section .skill-item__header .skill-item__level {
  font-size: 14px;
  color: #999;
}
#about-page .sec03 .skill-section .skill-item__bar-bg {
  width: 100%;
  height: 8px;
  background-color: #FFF1C9;
  border-radius: 999px;
}
#about-page .sec03 .skill-section .skill-item__bar-bg .skill-item__bar {
  width: var(--bar-width);
  height: 100%;
  background-color: #C39000;
  border-radius: 999px;
}
#about-page .sec03 .skill-up-section {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto 75px;
  background-color: #FFFAEF;
  border: 1px solid #C39000;
  border-radius: 20px;
  padding: 35px 45px;
}
@media screen and (max-width: 796px) {
  #about-page .sec03 .skill-up-section {
    padding: 25px;
  }
}
#about-page .sec03 .skill-up-section .skill-up-title {
  font-weight: medium;
  color: #C39000;
  margin-bottom: 35px;
}
#about-page .sec03 .skill-up-section .skill-up-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 796px) {
  #about-page .sec03 .skill-up-section .skill-up-wrapper {
    gap: 20px;
    justify-content: space-between;
  }
}
#about-page .sec03 .skill-up-section .skill-up-wrapper .skill-up {
  padding: 5px 28px;
  border: 1px solid #FFC00D;
  background-color: #FFF1C9;
  border-radius: 20px;
  font-family: "Zen Maru Gothic", serif;
}
#about-page .sec04 {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto 75px;
}
#about-page .sec04 .section_title {
  color: #C39000;
}
@media screen and (max-width: 796px) {
  #about-page .sec04 .section_title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
#about-page .sec04 .section_title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #C39000;
  border-radius: 999px;
  margin-top: 15px;
}
@media screen and (max-width: 796px) {
  #about-page .sec04 .section_title::after {
    margin-top: 10px;
  }
}
#about-page .sec04 .sec04_grid {
  width: 1000px;
  max-width: 90%;
  display: grid;
  margin: 40px auto 60px;
  grid-template-columns: 1fr 1fr;
  gap: 30px 60px;
}
@media screen and (max-width: 796px) {
  #about-page .sec04 .sec04_grid {
    gap: 20px;
    grid-template-columns: 1fr;
    margin: 20px auto 40px;
  }
}
#about-page .sec04 .sec04_grid .tool__card {
  padding: 25px 45px;
  background: #FEF7E3;
  border: 1px solid #C39000;
  border-radius: 30px;
}
@media screen and (max-width: 796px) {
  #about-page .sec04 .sec04_grid .tool__card {
    padding: 10px 15px;
    border-radius: 20px;
  }
}
#about-page .sec04 .sec04_grid .tool__card-title {
  font-family: "Zen Maru Gothic", serif;
  color: #C39000;
  font-size: 20px;
  font-weight: medium;
}
@media screen and (max-width: 796px) {
  #about-page .sec04 .sec04_grid .tool__card-title {
    font-size: 18px;
  }
}
#about-page .sec04 .sec04_grid .tool__card-tools {
  font-family: "Zen Maru Gothic", serif;
}
#about-page .sec04 .tool__border {
  width: 500px;
  margin: 0 auto 50px;
  border: none;
  border-top: 0.5px solid #C39000;
  border-radius: 999px;
}
#about-page .sec04 .text {
  width: 710px;
  max-width: 80%;
  margin: 0 auto 100px;
}
#about-page .sec04 .thank {
  width: 330px;
  max-width: 100%;
  margin: 0 auto 120px;
  font-weight: bold;
}

#contact {
  margin-top: 80px;
}
#contact .contact {
  max-width: 1200px;
  width: 90%;
  margin: 80px auto 30px;
  text-align: center;
}
#contact .contact .section_title {
  font-size: 1.5rem;
  margin-bottom: 60px;
  text-align: left;
}
#contact .contact .section_title span {
  font-size: 0.75rem;
}
#contact .contact form .contact_table {
  border-spacing: 2rem 1rem;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  #contact .contact form .contact_table {
    border-spacing: 1rem 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  #contact .contact form .contact_table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
#contact .contact form .contact_table tr th {
  text-align: left;
  width: 180px;
  vertical-align: top;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  #contact .contact form .contact_table tr th {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 0;
  }
}
#contact .contact form .contact_table tr td {
  text-align: left;
  width: calc(100% - 180px);
}
@media screen and (max-width: 768px) {
  #contact .contact form .contact_table tr td {
    width: 100%;
  }
}
#contact .contact form .contact_table tr td input,
#contact .contact form .contact_table tr td textarea {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #333;
  font-family: "Zen Maru Gothic", serif;
}
#contact .contact form .contact_table tr td input {
  height: 55px;
}
#contact .contact form .contact_table tr td textarea {
  height: 255px;
}
#contact .contact form .box {
  width: 650px;
  height: 250px;
  border: 1px solid #aaaaaa;
  overflow-y: scroll;
  margin: 0 auto 30px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #contact .contact form .box {
    width: 80%;
    height: 150px;
  }
}
#contact .contact form .box p {
  margin-bottom: 24px;
}
#contact .contact form .box ul {
  padding-left: 20px;
  list-style: circle;
  margin-bottom: 24px;
}
#contact .contact form .agreement_flex {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#contact .contact form .agreement_flex .check {
  margin-right: 10px;
}
#contact .contact form button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 55px;
}
#contact .contact .send_text {
  text-align: left;
  width: 73%;
  max-width: 730px;
  margin: 0 auto 50px;
}
#contact .github_links_section {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto 30px;
  text-align: center;
}
#contact .github_links_section .section_title {
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-align: left;
}
#contact .github_links_section .section_title span {
  font-size: 0.75rem;
}
#contact .github_links_section .github_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px auto;
}
#contact .github_links_section .github_links a {
  width: 150px;
  height: 50px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
#contact .hidden {
  display: none;
}

#detail .sec01 {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto 100px;
  text-align: center;
}
#detail .sec01 .section_title {
  text-align: left;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
#detail .sec01 .detail_section_title {
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Zen Maru Gothic", serif;
}
#detail .sec01 .border {
  width: 20%;
  margin: 10px auto 30px;
  height: 3px;
  background-color: #E7D173;
}
#detail .sec01 .images_wrapper {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  border: #C39000 solid 1px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  border-radius: 15px;
}
#detail .sec01 .images_wrapper img {
  display: inline-block;
  text-align: center;
}
#detail .sec01 .detail_subtitle {
  text-align: center;
  font-family: "Zen Maru Gothic", serif;
  font-size: 1.25rem;
  background: #EFE4B5;
  border: 1px solid #C39000;
  display: inline-block;
  margin: 30px auto 15px;
  padding: 10px 30px;
  border-radius: 15px;
  transition: background 0.4s;
}
#detail .sec01 .detail_subtitle:hover {
  background: #fdf8e0;
}
#detail .sec01 .detail_link {
  text-align: center;
  font-family: "Zen Maru Gothic", serif;
  font-size: 1rem;
  margin-bottom: 60px;
}
#detail .sec01 .detail_title {
  text-align: left;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  background-color: #EFE4B5;
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
#detail .sec01 .detail_text {
  text-align: left;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-size: 1.1rem;
}
#detail .sec01 dl dt {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  margin-top: 20px;
  text-align: left;
  font-size: 1.1rem;
}
#detail .sec01 dl dd {
  font-family: "Zen Maru Gothic", serif;
  text-align: left;
  font-size: 1.1rem;
}
#detail .sec01 .content_table {
  text-align: left;
  border-spacing: 0 20px;
  font-size: 1.1rem;
}
#detail .sec01 .content_table tr th {
  width: 150px;
  font-weight: 500;
}
#detail .sec01 .content_table tr td {
  font-weight: 400;
  font-family: "Zen Maru Gothic", serif;
}
#detail .sec01 .detail_main_title {
  text-align: left;
  font-size: 1rem;
}
#detail .sec01 .detail_main_text {
  text-align: left;
  margin-left: 200px;
}
#detail .sec01 .button_wrapper {
  width: 300px;
  margin: 40px auto 0;
}
#detail .sec01 .button_wrapper .work_button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
#detail .sec01 .button_wrapper .work_button .button_flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10%;
}
#detail .sec01 .button_wrapper .work_button .button_flex:last-of-type {
  margin-bottom: 0;
}
#detail .sec01 .button_wrapper .work_button .button_flex span {
  font-weight: 600;
}
#detail .sec01 .button_wrapper .work_button .button_flex img {
  width: 25px;
  height: 25px;
}
#detail .sec01 .button_wrapper .work_button .border {
  height: 1px;
  width: 80%;
  margin: 0 auto 10px;
  background-color: #484742;
}
#detail .sec01 .button_wrapper .go_to_works_button {
  background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
  margin-bottom: 20px;
  border-radius: 10px;
}
#detail .sec01 .button_wrapper .go_to_site_button {
  border: #E7D173 solid 4px;
  border-radius: 10px;
  background: #fff;
}

#works-page {
  margin-top: 100px;
}
#works-page .sec01 {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto 75px;
}
#works-page .sec01 .section_title {
  color: #C39000;
}
@media screen and (max-width: 796px) {
  #works-page .sec01 .section_title {
    font-size: 20px;
  }
}
#works-page .sec01 .section_title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #C39000;
  border-radius: 999px;
  margin-top: 15px;
}
@media screen and (max-width: 796px) {
  #works-page .sec01 .section_title::after {
    margin-top: 10px;
  }
}
#works-page .sec02 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 50px;
}
#works-page .sec02 .works_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 50px;
}
@media screen and (max-width: 768px) {
  #works-page .sec02 .works_list {
    justify-content: center;
  }
}
#works-page .sec02 .works_list .works_link_item {
  width: 150px;
  height: 40px;
  background-color: #efe4b5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: border-bottom 0.3s ease;
}
#works-page .sec02 .works_list .works_link_item:hover {
  background-color: #C39000;
  border-bottom: 2px solid rgba(195, 144, 0, 0.5);
}
#works-page .sec02 .works_list .works_link_item.active-category {
  background-color: #C39000;
  border-bottom: 2px solid #D0A900;
}
#works-page .sec02 .works_list .works_link_item .works_link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
}
#works-page .sec02 .works_list .works_link_item.active {
  background-color: #F1DC80;
  border-bottom: 2px solid #C39000;
}
#works-page .sec03 {
  width: 100%;
}
@media (width < 813px) {
  #works-page .sec03 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    text-align: center;
    text-align: left;
  }
}
#works-page .sec03 .work_link_wrapper {
  width: 100%;
  margin: 0 auto 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s ease;
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper {
    width: 44%;
    margin: 0 1% 30px;
    vertical-align: top;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  #works-page .sec03 .work_link_wrapper {
    width: 100%;
    margin: 0 0 30px;
  }
}
#works-page .sec03 .work_link_wrapper:hover {
  background: rgba(246, 205, 132, 0.1019607843);
  z-index: 500;
}
#works-page .sec03 .work_link_wrapper .link_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex {
    display: block;
    width: 100%;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .work_wrapper {
  flex-grow: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper {
    width: 100%;
    flex-direction: column;
    gap: 6px;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
  width: 320px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 320/200;
  z-index: 10;
  border: 1px solid #f4d85d;
  border-radius: 10px;
}
@media (width < 1000px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 270px;
    height: auto;
  }
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
    flex-grow: 1;
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
  width: 45%;
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
    flex-grow: 2;
    width: 100%;
    margin: 10px 0;
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
    margin: 15px auto 20px;
    min-width: 210px;
    width: 210px;
    max-width: 100%;
  }
}
@media (width < 480px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
    margin: 15px auto 20px;
    min-width: 210px;
    width: 210px;
    max-width: 100%;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  border-radius: 3px;
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .work_title span {
  padding-bottom: 3px;
  border-bottom: #C39000 solid 5px;
}
#works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box > div.category {
  display: inline-block;
  padding: 5px 10px;
  background-color: #E7D173;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: "Zen Maru Gothic", serif;
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box > div.category {
    padding: 3px 10px;
    font-size: 0.85rem;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .activity {
  margin-bottom: 5px;
}
#works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .code {
  display: inline-block;
  width: max-content;
  padding: 5px 10px;
  border: #C39000 1px solid;
  margin-bottom: 5px;
  font-family: "Zen Maru Gothic", serif;
  border-radius: 10px;
}
@media (width < 1066px) {
  #works-page .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .code {
    width: min-content;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .button_wrapper {
  flex: 1;
  max-width: 300px;
  width: auto;
}
@media screen and (max-width: 960px) {
  #works-page .sec03 .work_link_wrapper .link_flex .button_wrapper {
    max-width: 220px;
  }
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex .button_wrapper {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button {
  display: block;
  width: 300px;
  padding: 10px;
}
@media (width < 1000px) {
  #works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button {
    width: 200px;
  }
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button {
    padding: 1px;
    width: 100%;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10%;
}
#works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex:last-of-type {
  margin-bottom: 0;
}
#works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex span {
  font-weight: 600;
}
#works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex img {
  width: 25px;
  height: 25px;
}
#works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .border {
  height: 1px;
  width: 80%;
  margin: 0 auto 10px;
  background-color: #484742;
}
#works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .detail_button {
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  margin-bottom: 20px;
  border-radius: 10px;
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .detail_button {
    margin-bottom: 10px;
  }
}
#works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .site_button {
  border: #E7D173 solid 4px;
  border-radius: 10px;
  background: #fff;
}
@media (width < 813px) {
  #works-page .sec03 .work_link_wrapper .link_flex .button_wrapper .site_button {
    border: #E7D173 solid 1px;
  }
}
#works-page .sec03 .center_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  transition: all 1.5s ease;
}
#works-page .sec03 .center_wrapper > button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#works-page .sec03 .center_wrapper > button > span {
  font-size: 1.25rem;
  font-weight: 500;
}
#works-page .sec03 .center_wrapper > button > img {
  width: 25px;
  height: 25px;
}
#works-page .work_continuation {
  display: none;
}
@media (width < 813px) {
  #works-page .work_continuation {
    width: 90%;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
    gap: 5%;
    text-align: left;
  }
}
#works-page .work_continuation.active {
  display: block;
}
@media (width < 813px) {
  #works-page .work_continuation.active {
    display: flex;
    flex-wrap: wrap;
  }
}
#works-page .work_continuation.last_wrapper {
  margin-bottom: 50px;
}
#works-page .work_continuation .work_link_wrapper {
  width: 100%;
  margin: 0 auto 25px;
  padding-bottom: 25px;
  padding-top: 20px;
  transition: background-color 0.3s ease;
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper {
    display: inline-block;
    width: 44%;
    margin: 0 1% 30px;
    vertical-align: top;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  #works-page .work_continuation .work_link_wrapper {
    width: 100%;
    margin: 0 0 30px;
  }
}
#works-page .work_continuation .work_link_wrapper:hover {
  background: rgba(246, 175, 132, 0.2);
  z-index: 500;
}
#works-page .work_continuation .work_link_wrapper .link_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex {
    display: block;
    width: 100%;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 30px;
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper {
    width: 100%;
    display: block;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
  width: 320px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 320/200;
  z-index: 10;
  border: 1px solid #f4d85d;
  border-radius: 10px;
}
@media screen and (max-width: 960px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 270px;
    height: auto;
  }
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box {
  width: 45%;
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box {
    width: 100%;
    margin: 10px 0;
    text-align: left;
  }
}
@media (width < 480px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box {
    margin: 15px auto 20px;
    min-width: 210px;
    width: 210px;
    max-width: 100%;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  border-radius: 3px;
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .work_title span {
  padding-bottom: 3px;
  border-bottom: #C39000 solid 5px;
}
#works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box > div.category {
  display: inline-block;
  padding: 5px 10px;
  background: #E7D173;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: "Zen Maru Gothic", serif;
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box > div.category {
    padding: 3px 10px;
    font-size: 0.85rem;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .code {
  display: inline-block;
  width: max-content;
  padding: 5px 10px;
  border: #C39000 1px solid;
  margin-bottom: 5px;
  font-family: "Zen Maru Gothic", serif;
  border-radius: 10px;
}
@media (width < 1066px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .code {
    width: min-content;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper {
  flex: 1;
  max-width: 300px;
  width: auto;
}
@media screen and (max-width: 960px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper {
    max-width: 220px;
  }
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button {
  display: block;
  width: 100%;
  padding: 10px;
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button {
    padding: 1px;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10%;
}
#works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex:last-of-type {
  margin-bottom: 0;
}
#works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex span {
  font-weight: 600;
}
#works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex img {
  width: 25px;
  height: 25px;
}
#works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .border {
  height: 1px;
  width: 80%;
  margin: 0 auto 10px;
  background-color: #484742;
}
#works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .detail_button {
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  margin-bottom: 20px;
  border-radius: 10px;
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .detail_button {
    margin-bottom: 10px;
  }
}
#works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .site_button {
  border: #E7D173 solid 4px;
  border-radius: 10px;
  background: #fff;
}
@media (width < 813px) {
  #works-page .work_continuation .work_link_wrapper .link_flex .button_wrapper .site_button {
    border: #E7D173 solid 1px;
  }
}
#works-page .work_continuation .center_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  transition: all 1.5s ease;
}
#works-page .work_continuation .center_wrapper > button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#works-page .work_continuation .center_wrapper > button > span {
  font-size: 1.25rem;
  font-weight: 500;
}
#works-page .work_continuation .center_wrapper > button > img {
  width: 25px;
  height: 25px;
}
#works-page .work_continuation .center_wrapper.hidden {
  display: none;
}
#works-page .work_continuation .work_link_wrapper.hidden {
  display: none;
}
#works-page .works_wrapper {
  display: none;
}
#works-page .works_wrapper.active {
  display: block;
}
@media (width < 813px) {
  #works-page .works_wrapper.active {
    display: flex;
    flex-wrap: wrap;
  }
}
#works-page .hidden {
  display: none;
}