html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#home {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  #home {
    overflow: hidden;
  }
}
#home .mv {
  position: relative;
  height: 90vh;
  opacity: 1;
  transition: opacity 1s ease;
}
#home .mv.loading {
  width: 100vw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 20000;
}
#home .mv.loaded {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
#home .mv.loaded .mv_wrapper {
  opacity: 1;
}
#home .mv .mv_wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
#home .mv .mv_wrapper .mv_title {
  font-size: 1.75rem;
  letter-spacing: 7px;
  transition: visibility 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  visibility: visible;
}
#home .mv .mv_wrapper .mv_title.hidden {
  visibility: hidden;
}
#home .mv .mv_wrapper .mv_subtitle {
  letter-spacing: 4px;
  font-family: "Zen Maru Gothic", serif;
  transition: visibility 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  visibility: visible;
}
#home .mv .mv_wrapper .mv_subtitle.hidden {
  visibility: hidden;
}
#home .sec01 {
  width: 90%;
  max-width: 1200px;
  margin: 120px auto 100px;
}
@media screen and (max-width: 768px) {
  #home .sec01 {
    margin: 30px auto 40px;
  }
}
#home .sec01 .sec01_title {
  margin-bottom: 30px;
  font-size: 1.25rem;
}
#home .sec01 .section_wrapper {
  width: 100%;
}
#home .sec01 .section_wrapper .sec01_text {
  font-size: 1rem;
  font-family: "Zen Maru Gothic", serif;
  margin-bottom: 60px;
}
#home .sec02 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 50px;
}
#home .sec02 .works_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 50px;
}
@media screen and (max-width: 768px) {
  #home .sec02 .works_list {
    justify-content: center;
  }
}
#home .sec02 .works_list .works_link_item {
  width: 150px;
  height: 40px;
  background-color: #efe4b5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: border-bottom 0.3s ease;
}
#home .sec02 .works_list .works_link_item:hover {
  background-color: #C39000;
  border-bottom: 2px solid rgba(195, 144, 0, 0.5);
}
#home .sec02 .works_list .works_link_item.active-category {
  background-color: #C39000;
  border-bottom: 2px solid #D0A900;
}
#home .sec02 .works_list .works_link_item .works_link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 600;
}
#home .sec02 .works_list .works_link_item.active {
  background-color: #F1DC80;
  border-bottom: 2px solid #C39000;
}
#home .sec03 {
  width: 100%;
}
@media (width < 813px) {
  #home .sec03 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    text-align: center;
    text-align: left;
  }
}
#home .sec03 .work_link_wrapper {
  width: 100%;
  margin: 0 auto 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s ease;
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper {
    width: 44%;
    margin: 0 1% 30px;
    vertical-align: top;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  #home .sec03 .work_link_wrapper {
    width: 100%;
    margin: 0 0 30px;
  }
}
#home .sec03 .work_link_wrapper:hover {
  background: rgba(246, 205, 132, 0.1019607843);
  z-index: 500;
}
#home .sec03 .work_link_wrapper .link_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex {
    display: block;
    width: 100%;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper {
  flex-grow: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper {
    width: 100%;
    flex-direction: column;
    gap: 6px;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
  width: 320px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 320/200;
  z-index: 10;
  border: 1px solid #f4d85d;
  border-radius: 10px;
}
@media (width < 1000px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 270px;
    height: auto;
  }
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
    flex-grow: 1;
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
  width: 45%;
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
    flex-grow: 2;
    width: 100%;
    margin: 10px 0;
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
    margin: 15px auto 20px;
    min-width: 210px;
    width: 210px;
    max-width: 100%;
  }
}
@media (width < 480px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box {
    margin: 15px auto 20px;
    min-width: 210px;
    width: 210px;
    max-width: 100%;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  border-radius: 3px;
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .work_title span {
  padding-bottom: 3px;
  border-bottom: #C39000 solid 5px;
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box > div.category {
  display: inline-block;
  padding: 5px 10px;
  background-color: #fbf6dd;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: "Zen Maru Gothic", serif;
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box > div.category {
    padding: 3px 10px;
    font-size: 0.85rem;
  }
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .activity {
  margin-bottom: 5px;
}
#home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .code {
  display: inline-block;
  width: max-content;
  padding: 5px 10px;
  border: #C39000 1px solid;
  margin-bottom: 5px;
  font-family: "Zen Maru Gothic", serif;
  border-radius: 10px;
}
@media (width < 1066px) {
  #home .sec03 .work_link_wrapper .link_flex .work_wrapper .work_box .code {
    width: min-content;
  }
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper {
  flex: 1;
  max-width: 300px;
  width: auto;
}
@media screen and (max-width: 960px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper {
    max-width: 220px;
  }
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button {
  display: block;
  width: 300px;
  padding: 10px;
}
@media (width < 1000px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button {
    width: 200px;
  }
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button {
    padding: 1px;
    width: 100%;
  }
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10%;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex:last-of-type {
  margin-bottom: 0;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex span {
  font-weight: 600;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex img {
  width: 25px;
  height: 25px;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .work_button .border {
  height: 1px;
  width: 80%;
  margin: 0 auto 10px;
  background-color: #484742;
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .detail_button {
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  margin-bottom: 20px;
  border-radius: 10px;
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper .detail_button {
    margin-bottom: 10px;
  }
}
#home .sec03 .work_link_wrapper .link_flex .button_wrapper .site_button {
  border: #E7D173 solid 4px;
  border-radius: 10px;
  background: #fff;
}
@media (width < 813px) {
  #home .sec03 .work_link_wrapper .link_flex .button_wrapper .site_button {
    border: #E7D173 solid 1px;
  }
}
#home .sec03 .center_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  transition: all 1.5s ease;
}
#home .sec03 .center_wrapper > button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#home .sec03 .center_wrapper > button > span {
  font-size: 1.25rem;
  font-weight: 500;
}
#home .sec03 .center_wrapper > button > img {
  width: 25px;
  height: 25px;
}
#home .work_continuation {
  display: none;
}
@media (width < 813px) {
  #home .work_continuation {
    width: 90%;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
    gap: 5%;
    text-align: left;
  }
}
#home .work_continuation.active {
  display: block;
}
@media (width < 813px) {
  #home .work_continuation.active {
    display: flex;
    flex-wrap: wrap;
  }
}
#home .work_continuation.last_wrapper {
  margin-bottom: 50px;
}
#home .work_continuation .work_link_wrapper {
  width: 100%;
  margin: 0 auto 25px;
  padding-bottom: 25px;
  padding-top: 20px;
  transition: background-color 0.3s ease;
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper {
    display: inline-block;
    width: 44%;
    margin: 0 1% 30px;
    vertical-align: top;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 480px) {
  #home .work_continuation .work_link_wrapper {
    width: 100%;
    margin: 0 0 30px;
  }
}
#home .work_continuation .work_link_wrapper:hover {
  background: rgba(246, 175, 132, 0.2);
  z-index: 500;
}
#home .work_continuation .work_link_wrapper .link_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex {
    display: block;
    width: 100%;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 30px;
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper {
    width: 100%;
    display: block;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
  width: 320px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 320/200;
  z-index: 10;
  border: 1px solid #f4d85d;
  border-radius: 10px;
}
@media screen and (max-width: 960px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 270px;
    height: auto;
  }
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_image {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box {
  width: 45%;
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box {
    width: 100%;
    margin: 10px 0;
    text-align: left;
  }
}
@media (width < 480px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box {
    margin: 15px auto 20px;
    min-width: 210px;
    width: 210px;
    max-width: 100%;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  border-radius: 3px;
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .work_title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .work_title span {
  padding-bottom: 3px;
  border-bottom: #C39000 solid 5px;
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box > div.category {
  display: inline-block;
  padding: 5px 10px;
  background-color: #fbf6dd;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: "Zen Maru Gothic", serif;
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box > div.category {
    padding: 3px 10px;
    font-size: 0.85rem;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .code {
  display: inline-block;
  width: max-content;
  padding: 5px 10px;
  border: #C39000 1px solid;
  margin-bottom: 5px;
  font-family: "Zen Maru Gothic", serif;
  border-radius: 10px;
}
@media (width < 1066px) {
  #home .work_continuation .work_link_wrapper .link_flex .work_wrapper .work_box .code {
    width: min-content;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper {
  flex: 1;
  max-width: 300px;
  width: auto;
}
@media screen and (max-width: 960px) {
  #home .work_continuation .work_link_wrapper .link_flex .button_wrapper {
    max-width: 220px;
  }
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex .button_wrapper {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button {
  display: block;
  width: 100%;
  padding: 10px;
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button {
    padding: 1px;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10%;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex:last-of-type {
  margin-bottom: 0;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex span {
  font-weight: 600;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .button_flex img {
  width: 25px;
  height: 25px;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .work_button .border {
  height: 1px;
  width: 80%;
  margin: 0 auto 10px;
  background-color: #484742;
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .detail_button {
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  margin-bottom: 20px;
  border-radius: 10px;
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex .button_wrapper .detail_button {
    margin-bottom: 10px;
  }
}
#home .work_continuation .work_link_wrapper .link_flex .button_wrapper .site_button {
  border: #E7D173 solid 4px;
  border-radius: 10px;
  background: #fff;
}
@media (width < 813px) {
  #home .work_continuation .work_link_wrapper .link_flex .button_wrapper .site_button {
    border: #E7D173 solid 1px;
  }
}
#home .work_continuation .center_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 100px;
  transition: all 1.5s ease;
}
#home .work_continuation .center_wrapper > button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#home .work_continuation .center_wrapper > button > span {
  font-size: 1.25rem;
  font-weight: 500;
}
#home .work_continuation .center_wrapper > button > img {
  width: 25px;
  height: 25px;
}
#home .work_continuation .center_wrapper.hidden {
  display: none;
}
#home .about_me .section_title {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 30px;
  font-size: 1.5rem;
}
#home .about_me .section_title span {
  font-size: 0.75rem;
}
#home .about_me .image_flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #home .about_me .image_flex {
    flex-direction: column;
  }
}
#home .about_me .image_flex .about_image_box {
  width: 30%;
}
@media screen and (max-width: 768px) {
  #home .about_me .image_flex .about_image_box {
    width: 100%;
  }
}
#home .about_me .image_flex .about_image_box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#home .about_me .image_flex .about_text_box {
  width: 66%;
  max-width: 800px;
  margin: 0 auto 40px;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  #home .about_me .image_flex .about_text_box {
    width: 90%;
    margin: 30px auto 30px;
    padding: 0;
  }
}
#home .about_me .image_flex .about_text_box .about_title {
  font-size: 1.25rem;
}
#home .about_me .image_flex .about_text_box p {
  font-size: 1rem;
  font-family: "Zen Maru Gothic", serif;
}
#home .about_me .image_flex .about_text_box .web_site_title {
  margin-top: 30px;
  font-size: 1rem;
}
#home .about_me .image_flex .about_text_box .site_table {
  border-spacing: 25px 5px;
}
@media (width < 901px) {
  #home .about_me .image_flex .about_text_box .site_table {
    display: block;
    border-spacing: 0;
  }
}
#home .about_me .image_flex .about_text_box .site_table tr {
  text-align: left;
}
#home .about_me .image_flex .about_text_box .site_table tr th {
  font-weight: normal;
}
@media (width < 901px) {
  #home .about_me .image_flex .about_text_box .site_table tr th {
    display: block;
  }
}
#home .about_me .image_flex .about_text_box .site_table tr td {
  font-family: "Zen Maru Gothic", serif;
}
@media (width < 901px) {
  #home .about_me .image_flex .about_text_box .site_table tr td {
    display: block;
  }
}
#home .about_me > a {
  width: 300px;
  margin: 40px auto 60px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  font-weight: 600;
}
#home .about_me > a img {
  width: 20px;
}
#home .contact {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto 30px;
  text-align: center;
}
#home .contact .section_title {
  font-size: 1.5rem;
  margin-bottom: 60px;
  text-align: left;
}
#home .contact .section_title span {
  font-size: 0.75rem;
}
#home .contact .to_contact_button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 55px;
}
#home .contact form .contact_table {
  border-spacing: 2rem 1rem;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table {
    border-spacing: 1rem 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
#home .contact form .contact_table tr th {
  text-align: left;
  width: 180px;
  vertical-align: top;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table tr th {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 0;
  }
}
#home .contact form .contact_table tr td {
  text-align: left;
  width: calc(100% - 180px);
}
@media screen and (max-width: 768px) {
  #home .contact form .contact_table tr td {
    width: 100%;
  }
}
#home .contact form .contact_table tr td input,
#home .contact form .contact_table tr td textarea {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #333;
  font-family: "Zen Maru Gothic", serif;
}
#home .contact form .contact_table tr td input {
  height: 55px;
}
#home .contact form .contact_table tr td textarea {
  height: 255px;
}
#home .contact form .box {
  width: 650px;
  height: 250px;
  border: 1px solid #aaaaaa;
  overflow-y: scroll;
  margin: 0 auto 30px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #home .contact form .box {
    width: 80%;
    height: 150px;
  }
}
#home .contact form .box p {
  margin-bottom: 24px;
}
#home .contact form .box ul {
  padding-left: 20px;
  list-style: circle;
  margin-bottom: 24px;
}
#home .contact form .agreement_flex {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#home .contact form .agreement_flex .check {
  margin-right: 10px;
}
#home .contact form button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 55px;
}
#home .contact .send_text {
  text-align: left;
  width: 73%;
  max-width: 730px;
  margin: 0 auto 50px;
}
#home .github_links_section {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto 30px;
  text-align: center;
}
#home .github_links_section .section_title {
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-align: left;
}
#home .github_links_section .section_title span {
  font-size: 0.75rem;
}
#home .github_links_section .github_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px auto;
}
#home .github_links_section .github_links a {
  width: 150px;
  height: 50px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
#home .hidden {
  display: none;
}

#home .work_continuation .work_link_wrapper.hidden {
  display: none;
}

.works_wrapper {
  display: none;
}

.works_wrapper.active {
  display: block;
}
@media (width < 813px) {
  .works_wrapper.active {
    display: flex;
    flex-wrap: wrap;
  }
}

#contact {
  margin-top: 80px;
}
#contact .contact {
  max-width: 1200px;
  width: 90%;
  margin: 80px auto 30px;
  text-align: center;
}
#contact .contact .section_title {
  font-size: 1.5rem;
  margin-bottom: 60px;
  text-align: left;
}
#contact .contact .section_title span {
  font-size: 0.75rem;
}
#contact .contact form .contact_table {
  border-spacing: 2rem 1rem;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  #contact .contact form .contact_table {
    border-spacing: 1rem 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  #contact .contact form .contact_table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
#contact .contact form .contact_table tr th {
  text-align: left;
  width: 180px;
  vertical-align: top;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  #contact .contact form .contact_table tr th {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 0;
  }
}
#contact .contact form .contact_table tr td {
  text-align: left;
  width: calc(100% - 180px);
}
@media screen and (max-width: 768px) {
  #contact .contact form .contact_table tr td {
    width: 100%;
  }
}
#contact .contact form .contact_table tr td input,
#contact .contact form .contact_table tr td textarea {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #333;
  font-family: "Zen Maru Gothic", serif;
}
#contact .contact form .contact_table tr td input {
  height: 55px;
}
#contact .contact form .contact_table tr td textarea {
  height: 255px;
}
#contact .contact form .box {
  width: 650px;
  height: 250px;
  border: 1px solid #aaaaaa;
  overflow-y: scroll;
  margin: 0 auto 30px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #contact .contact form .box {
    width: 80%;
    height: 150px;
  }
}
#contact .contact form .box p {
  margin-bottom: 24px;
}
#contact .contact form .box ul {
  padding-left: 20px;
  list-style: circle;
  margin-bottom: 24px;
}
#contact .contact form .agreement_flex {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#contact .contact form .agreement_flex .check {
  margin-right: 10px;
}
#contact .contact form button {
  width: 320px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 55px;
}
#contact .contact .send_text {
  text-align: left;
  width: 73%;
  max-width: 730px;
  margin: 0 auto 50px;
}
#contact .github_links_section {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto 30px;
  text-align: center;
}
#contact .github_links_section .section_title {
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-align: left;
}
#contact .github_links_section .section_title span {
  font-size: 0.75rem;
}
#contact .github_links_section .github_links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px auto;
}
#contact .github_links_section .github_links a {
  width: 150px;
  height: 50px;
  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
#contact .hidden {
  display: none;
}

#detail .sec01 {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto 100px;
  text-align: center;
}
#detail .sec01 .section_title {
  text-align: left;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
#detail .sec01 .detail_section_title {
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Zen Maru Gothic", serif;
}
#detail .sec01 .border {
  width: 20%;
  margin: 10px auto 30px;
  height: 3px;
  background-color: #E7D173;
}
#detail .sec01 .images_wrapper {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  border: #C39000 solid 1px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  border-radius: 15px;
}
#detail .sec01 .detail_subtitle {
  text-align: center;
  font-family: "Zen Maru Gothic", serif;
  font-size: 1.25rem;
  background: #EFE4B5;
  display: inline-block;
  margin: 30px auto 15px;
  padding: 10px 30px;
  border-radius: 15px;
}
#detail .sec01 .detail_link {
  text-align: center;
  font-family: "Zen Maru Gothic", serif;
  font-size: 1rem;
  margin-bottom: 60px;
}
#detail .sec01 .detail_title {
  text-align: left;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  background-color: #EFE4B5;
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
#detail .sec01 .detail_text {
  text-align: left;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-size: 1.1rem;
}
#detail .sec01 dl dt {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  margin-top: 20px;
  text-align: left;
  font-size: 1.1rem;
}
#detail .sec01 dl dd {
  font-family: "Zen Maru Gothic", serif;
  text-align: left;
  font-size: 1.1rem;
}
#detail .sec01 .content_table {
  text-align: left;
  border-spacing: 0 20px;
  font-size: 1.1rem;
}
#detail .sec01 .content_table tr th {
  width: 150px;
  font-weight: 500;
}
#detail .sec01 .content_table tr td {
  font-weight: 400;
  font-family: "Zen Maru Gothic", serif;
}
#detail .sec01 .detail_main_title {
  text-align: left;
  font-size: 1rem;
}
#detail .sec01 .detail_main_text {
  text-align: left;
  margin-left: 200px;
}
#detail .sec01 .button_wrapper {
  width: 300px;
  margin: 40px auto 0;
}
#detail .sec01 .button_wrapper .work_button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
#detail .sec01 .button_wrapper .work_button .button_flex {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 10px 10%;
}
#detail .sec01 .button_wrapper .work_button .button_flex:last-of-type {
  margin-bottom: 0;
}
#detail .sec01 .button_wrapper .work_button .button_flex span {
  font-weight: 600;
}
#detail .sec01 .button_wrapper .work_button .button_flex img {
  width: 25px;
  height: 25px;
}
#detail .sec01 .button_wrapper .work_button .border {
  height: 1px;
  width: 80%;
  margin: 0 auto 10px;
  background-color: #484742;
}
#detail .sec01 .button_wrapper .go_to_works_button {
  background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
  margin-bottom: 20px;
  border-radius: 10px;
}
#detail .sec01 .button_wrapper .go_to_site_button {
  border: #E7D173 solid 4px;
  border-radius: 10px;
  background: #fff;
}/*# sourceMappingURL=style.css.map */