@use "../globals/index" as *;

#about-page {
  margin-top: 100px;

  .sec01 {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto 50px;
  
    .title_wrapper{
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 40px;
      @media screen and (max-width: 796px) {
        flex-direction: column-reverse;
        gap: 0;
      }
      .image_wrapper {
        position: relative;
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        @media screen and (max-width: 796px) {
          margin: 0 auto;
        }
        /* 回転するテキストのSVG */
        .rotating-text {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          animation: spin-left 9s linear infinite;
        }
        
        /* 左回りのアニメーション */
        @keyframes spin-left {
          from { transform: rotate(0deg); }
          to   { transform: rotate(-360deg); }
        }
        
        /* 円形の写真 */
        .circle-photo {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100px;
          height: 100px;
          overflow: hidden;
        }
        
        .circle-photo img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center top;
        }
      }
      .text_wrapper {
        margin-bottom: 20px;
        p {
          font-size: 20px;
          @media screen and (max-width: 796px){
            font-size: 16px;
          }
        }
        .roma_name {
          font-size: 32px;
          @media screen and (max-width: 796px) {
            font-size: 24px;
          }
        }
        .kanji_name {
          font-size: 27px;
          @media screen and (max-width: 796px) {
            font-size: 18px;
          }
        }
        .skill {
          color: #C39000;
          font-size: 24px;
          font-family: "Zen Maru Gothic", serif;
          @media screen and (max-width: 796px) {
            font-size: 20px;
          }
        }
      }
    } 
    .about_sub_titile {
      width: 90%;
      max-width: 637px;
      margin: 20px auto 50px;
      @media screen and (max-width: 796px) {
        margin-bottom: 40px;
      }
    }
    .section_border {
      width: 168px;
      margin: 0 auto 50px;
      border: none;
      border-top: 3px solid #C39000;
      border-radius: 999px;
      @media screen and (max-width: 796px) {
        margin-bottom: 40px;
        border-top: 2px solid #C39000;
      }
    }
    .aim {
      margin: 0 auto 37px;
      width: 540px;
      max-width: 80%;
      text-align: center;
    }
    .skill_flex {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 25px;
      margin-bottom: 140px;
      @media screen and (max-width: 796px) {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 60px;
      }
      .skill_title {
        text-align: center;
        padding: 8px 30px;
        background-color: #FFF1C9;
        border: 1px solid #FFC00D;
        border-radius: 20px;
        font-family: "Zen Maru Gothic", serif;
      }
    }
  }
  .sec02 {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto 75px;
    
    .section_title {
      color: #C39000;
      @media screen and (max-width: 796px) {
        font-size: 20px;
      }
      &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #C39000;
        border-radius: 999px;
        margin-top: 15px;
        @media screen and (max-width: 796px) {
          margin-top: 10px;
        }
      }
      @media screen and (max-width: 796px) {
        margin-bottom: 40px;
      }
    }
    .sec02_wrapper {
      width: 1000px;
      max-width: 90%;
      margin: 0 auto 75px;
      @media screen and (max-width: 796px) {
        margin-bottom: 40px;
      }
      & > p {
        margin-bottom: 35px;
      }
      .point {
        position: relative;
        padding: 20px 35px 30px;
        background-color: #FFFBEE;
        margin-bottom: 35px;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 10px;
          height: 100%;
          background-color: #C39000;
          border-radius: 999px;
          @media screen and (max-width: 796px) {
            width: 5px;
          }
        }
      }
      .goal {
        background-color: #FEF7E3;
        border: 1.5px solid #FFC00D;
        border-radius: 20px;
        padding: 40px 50px;
        @media screen and (max-width: 796px) {
          padding: 20px 20px;
        }
        h3 {
          color: #C39000;
          margin-bottom: 18px;
          @media screen and (max-width: 796px) {
            margin-bottom: 10px;
          }
        }
        & > p {
          line-height: 32px;
          @media screen and (max-width: 796px) {
            line-height: 30px;
          }
        }
      }
    }
  }
  .sec03 {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto 75px;
    .section_title {
      color: #C39000;
      @media screen and (max-width: 796px) {
        font-size: 20px;
      }
      &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #C39000;
        border-radius: 999px;
        margin-top: 15px;
        @media screen and (max-width: 796px) {
          margin-top: 10px;
        }
      }
    }
    .sec03_flex {
      width: 1000px;
      max-width: 90%;
      margin: 60px auto 35px;
      display: flex;
      justify-self: center;
      align-items: stretch;
      gap: 60px;
      @media screen and (max-width: 796px) {
        margin: 40px auto;
        flex-direction: column;
        gap: 25px;
      }

      .card {
        flex: 1;
        background-color: #ffffff;
        border: 1px solid #C39000;
        padding: 40px;
        border-radius: 20px;
        @media screen and (max-width: 796px) {
          padding: 20px 15px;
        }
        &__number {
          font-family: "Zen Maru Gothic", serif;
          color: #C39000;
          margin-bottom: 16px;
          @media screen and (max-width: 796px) {
            margin-bottom: 10px;
          }
        }
        &__title {
          font-family: "Zen Maru Gothic", serif;
          font-weight: bold;
          font-size: 32px;
          margin-bottom: 25px;
          @media screen and (max-width: 796px) {
            margin-bottom: 10px;
            font-size: 20px;
          }
        }
        &__text {
          line-height: 32px;
          @media screen and (max-width: 796px) {
            line-height: 24px;
          }
        }
      }
    }
    .skill-section {
      width: 1000px;
      max-width: 90%;
      margin: 0 auto 35px;
      border: 1px solid #C39000;
      border-radius: 20px;
      padding: 24px 32px;
      .slill-section__title {
        margin-bottom: 20px;
        font-weight: bold;
      }
      .skill-item {
        margin-bottom: 24px;
        &__header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
          .skill-item__name {
            font-size: 16px;
          }
          .skill-item__level {
            font-size: 14px;
            color: #999;
          }
        }
        &__bar-bg {
          width: 100%;
          height: 8px;
          background-color: #FFF1C9;
          border-radius: 999px;
          .skill-item__bar {
            width: var(--bar-width); // HTML側で個別に指定
            height: 100%;
            background-color: #C39000;
            border-radius: 999px;
          }
        }
      }
    }
    .skill-up-section{
      width: 1000px;
      max-width: 90%;
      margin: 0 auto 75px;
      background-color: #FFFAEF;
      border: 1px solid #C39000;
      border-radius: 20px;
      padding: 35px 45px;
      @media screen and (max-width: 796px) {
        padding: 25px;
      }
      .skill-up-title {
        font-weight: medium;
        color: #C39000;
        margin-bottom: 35px;
      }
      .skill-up-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        @media screen and (max-width: 796px) {
          gap: 20px;
          justify-content: space-between;
        }
        .skill-up {
          padding: 5px 28px;
          border: 1px solid #FFC00D;
          background-color: #FFF1C9;
          border-radius: 20px;
          font-family: "Zen Maru Gothic", serif;
        }

      }
      
    }
  }
  .sec04 {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto 75px;
    
    .section_title {
      color: #C39000;
      @media screen and (max-width: 796px) {
        font-size: 20px;
        margin-bottom: 30px;
      }
      &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #C39000;
        border-radius: 999px;
        margin-top: 15px;
        @media screen and (max-width: 796px) {
          margin-top: 10px;
        }
      }
    }
    .sec04_grid {
      width: 1000px;
      max-width: 90%;
      display: grid;
      margin: 40px auto 60px;
      grid-template-columns: 1fr 1fr;
      gap: 30px 60px;
      @media screen and (max-width: 796px) {
        gap: 20px;
        grid-template-columns: 1fr;
        margin: 20px auto 40px;
      }
      .tool__card {
        padding: 25px 45px;
        background: #FEF7E3;
        border: 1px solid #C39000;
        border-radius: 30px;
        @media screen and (max-width: 796px) {
          padding: 10px 15px;
          border-radius: 20px;
        }
      }
      .tool__card-title {
        font-family: "Zen Maru Gothic", serif;
        color: #C39000;
        font-size: 20px;
        font-weight: medium;
        @media screen and (max-width: 796px) {
          font-size: 18px;
        }
      }
      .tool__card-tools {
        font-family: "Zen Maru Gothic", serif;
      }  
    }
    .tool__border {
      width: 500px;
      margin: 0 auto 50px;
      border: none;
      border-top: 0.5px solid #C39000;
      border-radius: 999px;
    }
    .text {
      width: 710px;
      max-width: 80%;
      margin: 0 auto 100px;
    }
    .thank {
      width: 330px;
      max-width: 100%;
      margin: 0 auto 120px;
      font-weight: bold;
    }
  }
}
