@use "../globals/index" as *;

#detail {
    .sec01 {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto 100px;
        text-align: center;

        .section_title {
            text-align: left;
            margin-bottom: 30px;
            font-size: 1.25rem;
        }

        .detail_title {
            display: inline-block;
            text-align: center;
            border-bottom: 2px solid #C39000;
            font-size: 1rem;
            font-family: "Zen Maru Gothic", serif;
            margin-bottom: 60px;
        }

        .images_wrapper {
            width: 400px;
            max-width: 90%;
            height: 300px;
            margin: 0 auto;
            border: #C39000 solid 1px;
            scroll-behavior: smooth;
            overflow-y: scroll;

            img {}
        }

        .detail_subtitle {
            text-align: left;
            font-family: "Zen Maru Gothic", serif;
            font-size: 1.25rem;
            background: #C39000;
            display: inline-block;
            margin: 30px 70% 30px 0;
            padding: 10px 50px;
            border-radius: 20px;
            color: #fff;
        }

        .detal_text {
            width: 100%;
            text-align: left;
            border-spacing: 10px;

            tr {

                th {
                    width: 200px;
                }

                td {
                    font-family: "Zen Maru Gothic", serif;
                }
            }
        }

        .detail_main_title {
            text-align: left;
            font-size: 1rem;
        }

        .detail_main_text {
            text-align: left;
            margin-left: 200px;
        }

        .button_wrapper {
            width: 300px;
            margin: 40px auto 0;

            .work_button {
                display: block;
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;

                .button_flex {
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin: 0px auto;
                    padding: 10px 10%;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    span {
                        font-weight: 600;
                    }

                    & img {
                        width: 25px;
                        height: 25px;
                    }

                }

                .border {
                    height: 1px;
                    width: 80%;
                    margin: 0 auto 10px;
                    background-color: #484742;
                }


            }

            .go_to_works_button {
                background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
                margin-bottom: 20px;
                border-radius: 10px;
            }

            .go_to_site_button {
                border: #E7D173 solid 4px;
                border-radius: 10px;
                background: #fff;
            }
        }
    }
}