@use "../globals/index" as *;

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#home {
    margin-top: 80px;

    @include mq(md) {
        overflow: hidden;
    }

    .mv {
        position: relative;
        height: 90vh;
        opacity: 1;
        transition: opacity 1s ease;

        &.loading {
            width: 100vw;
            height: 100svh;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #fff;
            z-index: 20000;
        }

        &.loaded {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;

            .mv_wrapper {
                opacity: 1;
            }
        }

        .mv_wrapper {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;

            .mv_title {
                font-size: 1.75rem;
                letter-spacing: 7px;
                transition: visibility 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                visibility: visible;

                &.hidden {
                    visibility: hidden;
                }

            }

            .mv_subtitle {
                letter-spacing: 4px;
                font-family: "Zen Maru Gothic", serif;
                transition: visibility 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                visibility: visible;

                &.hidden {
                    visibility: hidden;
                }
            }
        }
    }

    .sec01 {
        width: 90%;
        max-width: 1200px;
        margin: 120px auto 100px;

        @include mq(md) {
            margin: 30px auto 40px;
        }
        .can {
          font-weight: normal;
        }
        .can:last-of-type {
          margin-bottom: 60px;
        }
        .sec01_title {
            margin-bottom: 30px;
            font-size: 1.25rem;
        }

        .section_wrapper {
            width: 100%;

            .sec01_text {
                font-size: 1rem;
                font-family: "Zen Maru Gothic", serif;
                margin-bottom: 60px;
            }
        }

    }
    .works {
      margin-bottom: 60px;
      .works_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch; // カードの高さを揃える
        gap: 30px;
        margin-bottom: 100px;
        @include mq(md) {
          grid-template-columns: 1fr 1fr;
          gap: 20px;
        }
        .work_card {
          background-color: #FEF1B8;
          border-radius: 50px;
          display: flex;
          flex-direction: column;
          
          .thumnail {
            width: calc(100% - 4px);
            aspect-ratio: 3 / 2; // PCは少し縦長に
            object-fit: cover;
            object-position: center top; // 上側を基準にトリミング
            margin: 2px auto 15px;
            display: block;
            border-width: 50px 0 0 50px;
            @include mq(md) {
              aspect-ratio: 16 / 9; //スマホは横長に
            }
          }
          .skill_wrapper {
            flex: 1; // 余白をここで吸収する
            margin: 0 auto 25px;
            width: 90%;
            .category {
              display: inline-block;
              padding: 10px 30px;
              background-color: #fff;
              border-radius: 20px;
              margin-bottom: 15px;
              font-family: "Zen Maru Gothic", serif;
            }
            .website_name {
              font-family: "Zen Maru Gothic", serif;
              font-size: 20px;
              font-weight: 700;
              margin-bottom: 15px;
            }
            .skills {
              font-family: "Zen Maru Gothic", serif;
            }
          }
          .botton_wrapper {
            width: 90%;
            margin: 0 auto;
            .word_border {
              background-color: #848080;
              border-radius: 9999px;
              width: 90%;
              margin: 0 auto;
            }
            .go_to_site {
              width: 100%;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 24px;
              
              .botton_text {
                font-weight: 700;
                font-size: 18px;
              }
              .arrow {
                width: 14px;
                height: 14px;
              }
              .angle {
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
      .go_to_detail_works {
        
        .button_text {
          
        }
        .arrow {
          
        }
      }
    }
    .about_me {
        .image_flex {
            display: flex;
            justify-content: space-between;
            align-items: start;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;

            @include mq(md) {
                flex-direction: column;
            }

            .about_image_box {
                width: 30%;

                @include mq(md) {
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }

            .about_text_box {
                width: 66%;
                max-width: 800px;
                margin: 0 auto 40px;
                padding: 0 20px;

                @include mq(md) {
                    width: 90%;
                    margin: 30px auto 30px;
                    padding: 0;
                }

                .about_title {
                    font-size: 1.25rem;
                }

                p {
                    font-size: 1rem;
                    font-family: "Zen Maru Gothic", serif;
                }

                .web_site_title {
                    margin-top: 30px;
                    font-size: 1rem;
                }

                .site_table {
                    border-spacing: 25px 5px;

                    @media (width < 901px) {
                        display: block;
                        border-spacing: 0;
                    }

                    tr {
                        text-align: left;

                        th {
                            font-weight: normal;

                            @media (width < 901px) {
                                display: block;
                            }
                        }

                        td {
                            font-family: "Zen Maru Gothic", serif;

                            @media (width < 901px) {
                                display: block;
                            }
                        }
                    }
                }
                .go-to-about-me {
                  width: 300px;
                  margin: 40px 20% 60px auto;
                  padding: 20px;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  border-radius: 15px;
                  background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
                  font-weight: 600;
                  @media screen and (max-width: 796px) {
                    margin: 0 auto;
                  }
                  img {
                      width: 20px;
                  }
                }
            }
        }
    }

    .contact {
        max-width: 1200px;
        width: 90%;
        margin: 40px auto 30px;
        text-align: center;

        
        .to_contact_button {
            width: 320px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
            border-radius: 10px;
            border: none;
            cursor: pointer;
            margin-bottom: 55px;
        }

        form {
            .contact_table {
                border-spacing: 2rem 1rem;
                margin-bottom: 30px;
                width: 100%;
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;

                @include mq(md) {
                    border-spacing: 1rem 0.8rem;
                }

                tr {
                    @include mq(md) {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
                    }

                    th {
                        text-align: left;
                        width: 180px;
                        vertical-align: top;
                        padding-top: 15px;

                        @include mq(md) {
                            width: 100%;
                            padding-bottom: 5px;
                            padding-top: 0;
                        }
                    }

                    td {
                        text-align: left;
                        width: calc(100% - 180px);

                        @include mq(md) {
                            width: 100%;
                        }

                        input,
                        textarea {
                            width: 100%;
                            padding: 10px 15px;
                            box-sizing: border-box;
                            border-radius: 15px;
                            border: 1px solid #333;
                            font-family: "Zen Maru Gothic", serif;
                        }

                        input {
                            height: 55px;
                        }

                        textarea {
                            height: 255px;
                        }

                    }
                }
            }

            .box {
                width: 650px;
                height: 250px;
                border: 1px solid #aaaaaa;
                overflow-y: scroll;
                margin: 0 auto 30px;
                text-align: left;

                @include mq(md) {
                    width: 80%;
                    height: 150px;
                }

                p {
                    margin-bottom: 24px;
                }

                ul {
                    padding-left: 20px;
                    list-style: circle;
                    margin-bottom: 24px;
                }
            }

            .agreement_flex {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;

                .check {
                    margin-right: 10px;
                }
            }



            button {
                width: 320px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
                border-radius: 10px;
                border: none;
                cursor: pointer;
                margin-bottom: 55px;
            }
        }

        .send_text {
            text-align: left;
            width: 73%;
            max-width: 730px;
            margin: 0 auto 50px;
        }
    }

    .github_links_section {
        max-width: 1200px;
        width: 90%;
        margin: 40px auto 30px;
        text-align: center;

        .github_links {

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            margin: 40px auto;

            a {
                width: 150px;
                height: 50px;
                background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
                border-radius: 10px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: none;
                cursor: pointer;
            }
        }
    }
}