@use "../globals/index" as *;

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#home {
    margin-top: 80px;

    @include mq(md) {
        overflow: hidden;
    }

    .mv {
        position: relative;
        height: 90vh;
        opacity: 1;
        transition: opacity 1s ease;

        &.loading {
            width: 100vw;
            height: 100svh;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #fff;
            z-index: 20000;
        }

        &.loaded {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;

            .mv_wrapper {
                opacity: 1;
            }
        }

        .mv_wrapper {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;

            .mv_title {
                font-size: 1.75rem;
                letter-spacing: 7px;
                transition: visibility 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                visibility: visible;

                &.hidden {
                    visibility: hidden;
                }

            }

            .mv_subtitle {
                letter-spacing: 4px;
                font-family: "Zen Maru Gothic", serif;
                transition: visibility 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                visibility: visible;

                &.hidden {
                    visibility: hidden;
                }
            }
        }
    }

    .sec01 {
        width: 90%;
        max-width: 1200px;
        margin: 120px auto 100px;

        @include mq(md) {
            margin: 30px auto 40px;
        }

        .sec01_title {
            margin-bottom: 30px;
            font-size: 1.25rem;
        }

        .section_wrapper {
            width: 100%;

            .sec01_text {
                font-size: 1rem;
                font-family: "Zen Maru Gothic", serif;
                margin-bottom: 60px;
            }
        }

    }

    .sec02 {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto 50px;

        .works_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto 50px;

            @include mq(md) {
                justify-content: center;
            }

            .works_link_item {
                width: 150px;
                height: 40px;
                transition: border-bottom 0.3s ease;

                &:hover {
                    background-color: #efe4b5;
                    border-bottom: 2px solid rgba(195, 144, 0, 0.5);
                }

                &.active-category {
                    border-bottom: 2px solid #D0A900;
                }

                .works_link {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "Zen Maru Gothic", serif;
                    font-weight: 600;
                }
            }

            .works_link_item.active {
                background-color: #F1DC80;
                border-bottom: 2px solid #C39000;
            }
        }
    }

    .sec03 {
        width: 100%;

        @media (width < 813px) {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 5%;
            text-align: center;
            text-align: left;
        }

        .work_link_wrapper {
            width: 100%;
            margin: 0 auto 25px;
            padding-top: 20px;
            padding-bottom: 20px;
            transition: background-color 0.3s ease;

            @media (width < 813px) {
                width: 44%;
                margin: 0 1% 30px;
                vertical-align: top;
                box-sizing: border-box;
            }

            @include mq(sm) {
                width: 100%;
                margin: 0 0 30px;
            }

            &:hover {
                background: #f6cd841a;
                z-index: 500;
            }

            .link_flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                gap: 30px;

                @media (width < 813px) {
                    display: block;
                    width: 100%;
                }

                .work_wrapper {
                    flex-grow: 2;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 30px;

                    @media (width < 813px) {
                        width: 100%;
                        display: block;
                    }

                    .work_image {
                        width: 320px;
                        height: 200px;
                        object-fit: cover;
                        aspect-ratio: 320 / 200;
                        z-index: 10;
                        border: 1px solid #f4d85d;
                        border-radius: 10px;

                        @media (width < 1000px) {
                            width: 270px;
                            height: auto;
                        }

                        @media (width < 813px) {
                            width: 100%;
                            height: auto;
                            aspect-ratio: 16 / 10;
                            object-fit: cover;
                        }

                        @include mq(sm) {
                            width: 90%;
                            max-width: 300px;
                            margin: 0 auto;
                        }
                    }

                    .work_box {
                        width: 45%;

                        @media (width < 813px) {
                            width: 100%;
                            margin: 10px 0;
                            text-align: left;
                        }

                        @include mq(sm) {
                            margin: 15px auto 20px;
                            min-width: 210px;
                            width: 210px;
                            max-width: 100%;
                        }

                        .work_title {
                            font-size: 1.25rem;
                            margin-bottom: 15px;

                            @media (width < 813px) {
                                font-size: 1rem;
                                margin-bottom: 10px;
                            }
                        }

                        &>div {
                            padding: 5px 20px;
                            border: 1px solid #E7D173;
                            width: 150px;
                            border-radius: 5px;
                            margin-bottom: 10px;
                            font-family: "Zen Maru Gothic", serif;

                            @media (width < 813px) {
                                padding: 3px 10px;
                                width: auto;
                                display: inline-block;
                                font-size: 0.85rem;
                            }
                        }

                        &>ul {
                            height: 70px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;

                            @media (width < 813px) {
                                height: 90px;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                            }

                            &>li {
                                font-size: clamp(14px, 1.5vw, 17px);

                                @media (width < 813px) {
                                    margin-bottom: 3px;
                                }
                            }
                        }
                    }
                }

                .button_wrapper {
                    flex: 1;
                    max-width: 300px;
                    width: auto;

                    @include mq(lg) {
                        max-width: 220px;
                    }

                    @media (width < 813px) {
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                    }

                    .work_button {
                        display: block;
                        width: 300px;
                        padding: 10px;

                        @media (width < 1000px) {
                            width: 200px;
                        }

                        @media (width < 813px) {
                            padding: 1px;
                            width: 100%;
                        }

                        .button_flex {
                            display: inline-flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            margin: 0px auto;
                            padding: 10px 10%;

                            &:last-of-type {
                                margin-bottom: 0;
                            }

                            span {
                                font-weight: 600;
                            }

                            & img {
                                width: 25px;
                                height: 25px;
                            }

                        }

                        .border {
                            height: 1px;
                            width: 80%;
                            margin: 0 auto 10px;
                            background-color: #484742;
                        }


                    }

                    .detail_button {
                        background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
                        margin-bottom: 20px;
                        border-radius: 10px;

                        @media (width < 813px) {
                            margin-bottom: 10px;
                        }
                    }

                    .site_button {
                        border: #E7D173 solid 4px;
                        border-radius: 10px;
                        background: #fff;

                        @media (width < 813px) {
                            border: #E7D173 solid 1px;

                        }
                    }
                }
            }
        }

        .center_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px auto 100px;
            transition: all 1.5s ease;

            &>button {
                width: 320px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
                border-radius: 10px;
                border: none;
                cursor: pointer;

                &>span {
                    font-size: 1.25rem;
                    font-weight: 500;
                }

                &>img {
                    width: 25px;
                    height: 25px;
                }
            }
        }

    }

    .work_continuation {
        display: none;

        @media (width < 813px) {
            width: 90%;
            margin: 0 auto;
            display: none;
            flex-wrap: wrap;
            gap: 5%;
            text-align: left;
        }

        &.active {
            display: block;

            @media (width < 813px) {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &.last_wrapper {
            margin-bottom: 50px;
        }

        .work_link_wrapper {
            width: 100%;
            margin: 0 auto 25px;
            padding-bottom: 25px;
            padding-top: 20px;
            transition: background-color 0.3s ease;

            @media (width < 813px) {
                display: inline-block;
                width: 44%;
                margin: 0 1% 30px;
                vertical-align: top;
                box-sizing: border-box;
            }

            @include mq(sm) {
                width: 100%;
                margin: 0 0 30px;
            }

            &:hover {
                background: rgba(246, 175, 132, 20%);
                z-index: 500;
            }

            .link_flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                gap: 30px;

                @media (width < 813px) {
                    display: block;
                    width: 100%;
                }

                .work_wrapper {
                    flex: 2;
                    display: flex;
                    justify-content: flex-start;
                    align-items: start;
                    gap: 30px;

                    @media (width < 813px) {
                        width: 100%;
                        display: block;
                    }

                    .work_image {
                        width: 320px;
                        height: 200px;
                        object-fit: cover;
                        aspect-ratio: 320 / 200;
                        z-index: 10;
                        border: 1px solid #f4d85d;
                        border-radius: 10px;

                        @include mq(lg) {
                            width: 270px;
                            height: auto;
                        }

                        @media (width < 813px) {
                            width: 100%;
                            height: auto;
                            aspect-ratio: 16 / 10;
                            object-fit: cover;
                        }

                        @include mq(sm) {
                            width: 90%;
                            max-width: 300px;
                            margin: 0 auto;
                        }
                    }

                    .work_box {
                        width: 45%;

                        @media (width < 813px) {
                            width: 100%;
                            margin: 10px 0;
                            text-align: left;
                        }

                        .work_title {
                            font-size: 1.25rem;
                            margin-bottom: 15px;

                            @media (width < 813px) {
                                font-size: 1rem;
                                margin-bottom: 10px;
                            }
                        }

                        &>div {
                            padding: 5px 20px;
                            border: 0.5px solid #f4d85d;
                            width: 150px;
                            border-radius: 5px;
                            margin-bottom: 10px;
                            font-family: "Zen Maru Gothic", serif;

                            @media (width < 813px) {
                                padding: 3px 10px;
                                width: auto;
                                display: inline-block;
                                font-size: 0.85rem;
                            }
                        }

                        &>ul {
                            // height: 70px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;

                            @media (width < 813px) {
                                // height: 90px;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;

                            }

                            &>li {
                                margin-bottom: 5px;

                                @media (width < 813px) {
                                    font-size: 0.85rem;
                                    margin-bottom: 3px;
                                }
                            }
                        }
                    }
                }

                .button_wrapper {
                    flex: 1;
                    max-width: 300px;
                    width: auto;

                    @include mq(lg) {
                        max-width: 220px;
                    }

                    @media (width < 813px) {
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                    }

                    .work_button {
                        display: block;
                        width: 100%;
                        padding: 10px;

                        @media (width < 813px) {
                            padding: 1px;
                        }

                        .button_flex {
                            display: inline-flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            margin: 0px auto;
                            padding: 10px 10%;

                            &:last-of-type {
                                margin-bottom: 0;
                            }

                            span {
                                font-weight: 600;
                            }

                            & img {
                                width: 25px;
                                height: 25px;
                            }

                        }

                        .border {
                            height: 1px;
                            width: 80%;
                            margin: 0 auto 10px;
                            background-color: #484742;
                        }
                    }

                    .detail_button {
                        background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
                        margin-bottom: 20px;
                        border-radius: 10px;

                        @media (width < 813px) {
                            margin-bottom: 10px;
                        }
                    }

                    .site_button {
                        border: #E7D173 solid 4px;
                        border-radius: 10px;
                        background: #fff;

                        @media (width < 813px) {
                            border: #E7D173 solid 1px;

                        }
                    }
                }
            }
        }

        .center_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px auto 100px;
            transition: all 1.5s ease;

            &>button {
                width: 320px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                background: linear-gradient(to bottom, #D0A900, #E7D173, #D0A900);
                border-radius: 10px;
                border: none;
                cursor: pointer;

                &>span {
                    font-size: 1.25rem;
                    font-weight: 500;
                }

                &>img {
                    width: 25px;
                    height: 25px;
                }
            }

            &.hidden {
                display: none;
            }
        }
    }

    .about_me {

        .section_title {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto 30px;
            font-size: 1.5rem;

            span {
                font-size: 0.75rem;
            }
        }

        .image_flex {
            display: flex;
            justify-content: space-between;
            align-items: start;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;

            @include mq(md) {
                flex-direction: column;
            }

            .about_image_box {
                width: 30%;

                @include mq(md) {
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }

            .about_text_box {
                width: 66%;
                max-width: 800px;
                margin: 0 auto 40px;
                padding: 0 20px;

                @include mq(md) {
                    width: 90%;
                    margin: 30px auto 30px;
                    padding: 0;
                }

                .about_title {
                    font-size: 1.25rem;
                }

                p {
                    font-size: 1rem;
                    font-family: "Zen Maru Gothic", serif;
                }

                .web_site_title {
                    margin-top: 30px;
                    font-size: 1rem;
                }

                .site_table {
                    border-spacing: 25px 5px;

                    @media (width < 901px) {
                        display: block;
                        border-spacing: 0;
                    }

                    tr {
                        text-align: left;

                        th {
                            font-weight: normal;

                            @media (width < 901px) {
                                display: block;
                            }
                        }

                        td {
                            font-family: "Zen Maru Gothic", serif;

                            @media (width < 901px) {
                                display: block;
                            }
                        }
                    }
                }
            }
        }


        &>a {
            width: 300px;
            margin: 40px auto 60px;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 15px;
            background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
            font-weight: 600;

            img {
                width: 20px;
            }
        }
    }

    .contact {
        max-width: 1200px;
        width: 90%;
        margin: 40px auto 30px;
        text-align: center;

        .section_title {
            font-size: 1.5rem;
            margin-bottom: 60px;
            text-align: left;

            span {
                font-size: 0.75rem;
            }
        }

        form {
            .contact_table {
                border-spacing: 2rem 1rem;
                margin-bottom: 30px;
                width: 100%;
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;

                @include mq(md) {
                    border-spacing: 1rem 0.8rem;
                }

                tr {
                    @include mq(md) {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
                    }

                    th {
                        text-align: left;
                        width: 180px;
                        vertical-align: top;
                        padding-top: 15px;

                        @include mq(md) {
                            width: 100%;
                            padding-bottom: 5px;
                            padding-top: 0;
                        }
                    }

                    td {
                        text-align: left;
                        width: calc(100% - 180px);

                        @include mq(md) {
                            width: 100%;
                        }

                        input,
                        textarea {
                            width: 100%;
                            padding: 10px 15px;
                            box-sizing: border-box;
                            border-radius: 15px;
                            border: 1px solid #333;
                            font-family: serif;
                        }

                        input {
                            height: 55px;
                        }

                        textarea {
                            height: 255px;
                        }

                    }
                }
            }

            .box {
                width: 650px;
                height: 250px;
                border: 1px solid #aaaaaa;
                overflow-y: scroll;
                margin: 0 auto 30px;
                text-align: left;

                @include mq(md) {
                    width: 80%;
                    height: 150px;
                }

                p {
                    margin-bottom: 24px;
                }

                ul {
                    padding-left: 20px;
                    list-style: circle;
                    margin-bottom: 24px;

                    li {}
                }
            }

            .agreement_flex {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;

                .check {
                    margin-right: 10px;
                }
            }


            .contact_button {}

            button {
                width: 320px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
                background: linear-gradient(to bottom, #f4d85d, #efe4b5, #f4d85d);
                border-radius: 10px;
                border: none;
                cursor: pointer;
                margin-bottom: 55px;
            }
        }

        .send_text {
            text-align: left;
            width: 73%;
            max-width: 730px;
            margin: 0 auto 50px;
        }
    }

    .hidden {
        display: none;
    }
}



#home .work_continuation .work_link_wrapper.hidden {
    display: none;
}

.works_wrapper {
    display: none;

}

.works_wrapper.active {
    display: block;

    @media(width < 813px) {
        display: flex;
        flex-wrap: wrap;
    }
}